
@{
    ViewBag.Title = "Index";
}

<h2>Welcome to Groups</h2>

@Html.ActionLink("Create a new group", "New", "Groups", new { @class = "btn btn-info block" })
<br />

@foreach (OnlyFriends.Models.Group group in ViewBag.Groups)
{
    <div class="card" style="margin-top: 1em">
        <div class="card-body">
            @Html.Partial("GroupInfo", group)

            <div class="panel-footer">
                <a class=" btn btn-sm btn btn-success" href="/Groups/Show/@group.GroupId">View Group</a>
            </div>
        </div>
    </div>
}

