<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div>
                <p>@Model.Content</p>
                <small class="pull-right">@Model.Date</small>
            </div>
            @if (ViewBag.CurrentUser.Item2 || ViewBag.CurrentUser.Item1 == Model.UserId)
            {
                <div style="display: inline-block; float : left; margin-right: 15px">
                    <a class="glyphicon glyphicon-pencil" href="/Comments/Edit/@Model.CommentId"></a>
                </div>
                <div style="display: inline-block; float : left">
                    <form method="post" action="/Comments/Delete/@Model.CommentId">
                        @Html.HttpMethodOverride(HttpVerbs.Delete)
                        <button class="glyphicon glyphicon-trash" style="border: none; background: transparent" type="submit"></button>
                    </form>
                </div>
            }
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
<hr />
