@{
    ViewBag.Title = "Index";
}
<h1>@ViewBag.Message</h1>
<h2>News</h2>


<a class="btn btn-primary" href="/Posts/New">Add post</a>
<br />

@foreach (OnlyFriends.Models.Post post in ViewBag.Posts)
{
    <div class="card" style="margin-top: 1em">
        <div class="card-body">
            @Html.Partial("PostInfo", post)

            <div class="panel-footer">
                <a class=" btn btn-success btn-lg btn-block" href="/Posts/Show/@post.PostId">View post</a>
            </div>
        </div>
    </div>
    }





