@model OnlyFriends.Models.Post

@{
    ViewBag.Title = "Show";
}
<br />
<a href="/Posts/Index">Inapoi la articole</a>
<br />
<a class="btn btn-info" href="/Posts/New">Adauga articol</a>
<br />
<div class="panel panel-default">

    @Html.Partial("PostInfo", Model)
    @if (ViewBag.afisareButoane)
    {
        <div class="panel-footer">

            <a class="btn btn-success pull-left" href="/Posts/Edit/@Model.PostId">Modifica Post</a>
            @using (Html.BeginForm(actionName: "Delete", controllerName: "Posts", method: FormMethod.Post, routeValues: new { id = Model.PostId }))
            {
                @Html.HttpMethodOverride(HttpVerbs.Delete)
                <button class="btn btn-danger pull-right" type="submit">Sterge articol</button>
            }
            


            <div class="clearfix"></div>
        </div>
    }
    </div>


<br />








