@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="~/Content/Images/Logo.png" width="80%"/>
    <h1>OnlyFriends</h1>
    <h3 class="lead">Welcome to OnlyFriends. A brand know social platform that will blow your fans</h3>
    <a href="/Posts/Index">Go to Posts</a>
</div>
