:root {
    --first-color: #2AADE5;
    --input-color: #80868B;
    --border-color: #DADCE0;
    
    --body-font: 'Roboto', sans-serif;
    --normal-font-size: 1rem;
    --small-font-size: .75rem;
}

*, ::before, ::after {
    box-sizing: boder-box;
}

h1 {
    margin: 0;
}

.logres-form {
    width: 360px;
    padding: 4rem 2rem;
    border-radius: 1rem;
    box-shadow: 0 10px 25px rgba(92,99,105,.2);
}

.logres-form-title {
    font-weight: 700;
    margin-bottom: 3rem;
}

.logres-form-div {
    position: relative;
    height: 48px;
    margin-bottom: 1.5rem;
}

.logres-form-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: var(--normal-font-size);
    border: 1px solid var(--border-color);
    border-radius: .5rem;
    outline: none;
    padding: 1rem;
    background: none;
    z-index: 1;
}

.logres-form-label {
    position: absolute;
    left: 1rem;
    top: 1rem;
    padding: 0 .25rem;
    background-color: #fff;
    color: var(--input-color);
    font-size: var(--normal-font-size);
    transition: .3s;
}

.logres-form-button {
    display: block;
    margin: 0 auto;
    padding: .75rem 2rem;
    outline: none;
    border: none;
    background-color: var(--first-color);
    color: #fff;
    font-size: var(--normal-font-size);
    border-radius: 2rem;
    cursor: pointer;
    transition: .3s;
}

.logres-form-button:hover {
    box-shadow: 0 10px 36px rgba(0,0,0,.15);
}

.logres-form-input:focus + .logres-form-label {
    top: -.5rem;
    left: .8rem;
    color: var(--first-color);
    font-size: var(--small-font-size);
    font-weight: 500;
    z-index: 10;
}

.logres-form-input:not(:placeholder-shown).logres-form-input:not(:focus) + .logres-form-label {
    top: -.5rem;
    left: .8rem;
    color: var(--first-color);
    font-size: var(--small-font-size);
    font-weight: 500;
    z-index: 10;
}

.logres-form-input:focus {
    border: 1.5px solid var(--first-color);
}

#loginForm {
    padding-left:5%;
}

.logres-form-paragraph {
    padding-top:20px;
    font-size: 0.75rem;
    text-align: center;
}

.card {
    padding: 50px; 
    box-shadow: 0 10px 25px rgba(92,99,105,.2);
}

/* For Homepage */
h2.home-headers {
    margin-top: 75px;
}

.home-headers {
    text-align: center;
    font-weight: 700;
}

.action-buttons {
    text-align: center;
    width: 75%;
    display: block;
    margin: 15px auto 0 auto;
    padding: .75rem 2rem;
    outline: none;
    border: none;
    background-color: var(--first-color);
    color: #fff;
    font-size: var(--normal-font-size);
    border-radius: 2rem;
    cursor: pointer;
    transition: .3s;
    text-decoration: none;
}

.action-buttons:hover {
    text-decoration: none;
    color: #fff;
    box-shadow: 0 10px 36px rgba(0,0,0,.15);
}


/* For liked by on hover */
.likedby-badge {
    position: relative;
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    cursor: pointer;
}

@media (prefers-reduced-motion: reduce) {
    .likedby-badge {
        transition: none;
    }
}

a.likedby-badge:hover, a.likedby-badge:focus {
    text-decoration: none;
}

.likedby-badge:empty {
    display: none;
}

.btn .likedby-badge {
    position: relative;
    top: -1px;
}

.likedby-badge-light {
    color: #212529;
    background-color: #f8f9fa;
}

a.likedby-badge-light:hover, a.likedby-badge-light:focus {
    color: #212529;
    background-color: #dae0e5;
}

a.likedby-badge-light:focus, a.likedby-badge-light.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}

.likedby-div {
    position: absolute;
    bottom: 30px;
    left: -65px;
    width: 150px;
    background: #fff;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 10px 25px rgba(92,99,105,.5);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    /* Might delete this later*/
    transform: translateX(0%) translateY(-50px);
    text-align: left;
}

.likedby-div:before {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    background: #fff;
    bottom: -2px;
    left: 58px;
    transform: rotate(45deg);
}

.likedby-badge:hover .likedby-div {
    visibility: visible;
    opacity: 1;
    transform: translateX(0%) translateY(0px);
}

.likedby-div h6 {
    font-weight: 700;
    font-size: 1.05rem;
}

.likedby-div ul {
    font-weight: 400;
    padding: 0;
    list-style-type: none;
}

.likedby-div ul li {
    padding: 4px 0;
}

.likedby-div a {
    color: black;
}